---
// Component Imports
import Counter from '../components/Counter.svelte';
import Card from '../components/Card.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<div class=" h-[50dvh] pl-[5dvw] ">
			<div class="mx-64 py-12 rounded-lg mb-16 justify-center flex flex-col items-center ">
				<h1 class="font-sans font-medium text-7xl">Кванториум.Проекты</h1>
				<div class="text-neutral-500 text-2xl ">тестовый сайт</div>
			</div>
			<div class="w-full flex justify-end">
				<div class="flex items-center border-gray-400 ">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M11 20q-.425 0-.712-.288T10 19v-6L4.2 5.6q-.375-.5-.112-1.05T5 4h14q.65 0 .913.55T19.8 5.6L14 13v6q0 .425-.288.713T13 20z"/></svg>
					Filter
				</div>
				<div class="flex items-center rounded-lg px-2 py-1 bg-[#201959] text-white ml-4 ">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"/></svg>
					New project
				</div>
			</div>
			<div class=" ">
				<div class="flex items-center mb-5">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M8.5 13.5L7 12l1.5-1.5m7 0L17 12l-1.5 1.5"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0m10-2.5L11 15"/></g></svg>
					<h1 class="ml-2 font-bold text-2xl">IT (4)</h1>
				</div>
				<div class="grid gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
					<Card  title='База проектов' status='Is Working' updated='1 day' />
					<Card  title='Бот для рыссылки' status='At Work' updated='2 weeks' />
					<Card  title='Тетрис' status='At Work' updated='5 days' />
					<Card  title='Лев играл в тетрис' status='Is Working' updated='1 week' />
				</div>
			
			</div>
		</div>
	</body>
</html>
