---
// Component Imports
import Counter from '../components/Counter.svelte';
import Card from '../components/Card.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<div class=" h-[50dvh] w-full ">
			<div class="mx-64 py-12 rounded-lg mb-16 justify-center flex flex-col items-center ">
				<h1 class="font-sans font-medium text-6xl">Кванториум.Проекты</h1>
				<div class="text-neutral-500 text-2xl ">тестовый сайт</div>
			</div>
			<div class=" ">
				<div class="flex items-center mb-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M8.5 13.5L7 12l1.5-1.5m7 0L17 12l-1.5 1.5"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0m10-2.5L11 15"/></g></svg>
					<h1 class="ml-2 text-3xl">IT</h1>
				</div>
				<div class="grid gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
					<Card  title='База проектов' theme='IT' url='https://kvantorium.pockethost.io/api/files/szsdg1yxhgoaofe/xn69ykgblmy9qku/blob_scene_haikei_4_JLd1ChTUAG.png?thumb=640x360' />
					<Card  title='Бот для рыссылки' theme='IT' url='https://kvantorium.pockethost.io/api/files/szsdg1yxhgoaofe/xn69ykgblmy9qku/blob_scene_haikei_4_JLd1ChTUAG.png?thumb=640x360' />
					<Card  title='Тетрис' theme='IT' url='https://kvantorium.pockethost.io/api/files/szsdg1yxhgoaofe/xn69ykgblmy9qku/blob_scene_haikei_4_JLd1ChTUAG.png?thumb=640x360' />
					<Card  title='Лев играл в тетрис' theme='IT' url='https://kvantorium.pockethost.io/api/files/szsdg1yxhgoaofe/xn69ykgblmy9qku/blob_scene_haikei_4_JLd1ChTUAG.png?thumb=640x360' />
				</div>
			
			</div>
		</div>
	</body>
</html>
