  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <style>
        html,
        body {
          font-family: system-ui;
          margin: 0;
        }
        body {
          padding: 2rem;
        }
      </style>
    </head>
    <body>
      <div>
        <div class="p-7 space-y-1">
          <div class="font-exo text-3xl font-medium mt-16">
            База проектов
          </div>
          <div>
            <a class="text-neutral-500" href="/">{"<-"} Назад</a>
          </div>
        </div>
      
        <div class="p-7">
          <div class="prose prose-neutral">
            Мы задизайнили сайт для базы проектов Кванториума Фотоника!
      
            Правда, он ещё в разработке :)
            
            Репозиторий проекта - <a href="https://github.com/mckoda09/kvantorium-projects">https://github.com/mckoda09/kvantorium-projects</a> </div>
        </div>
      </div>
    </body>
  </html>